.mobile-logo {
    display: none;
    cursor: pointer;
}

.nav {
    background-color: #99ddff;
    left: 0;
    flex: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.navtop {
    background-color: #fcfcfc;
    left: 0;
    position: fixed;
    display: block;
    z-index: 100;
    right: 0;
    top: 0;
    outline: #ffffff;
    box-shadow: 0 0 185px 0 #ffffff;
}
html {
    scroll-behavior: smooth;
}
.nav .container {
    align-items: center;
    font-size: larger;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav a {
    color: #110c58;
    text-decoration: none;
}
.nav a.current,
.nav a:hover {
    color: #ff6600;
    font-weight: normal;
}
.nav li:hover {
    color: #ff6600;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contact-btn {
    background: #ff6600;
    color: white;
    text-align: center;
    border-radius: 25px;
    width: 145px;
    height: 50px;
    border: 1px solid #ff8400;
}
.contact-btn:hover {
    background: rgb(115, 0, 255);
    transform: translateY(-8px);
    transition: all 0.3s ease-in-out;
    border: none;
}
.divone {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 700px;
    /* background-color: rgb(128, 11, 11) */
}
.divone-social {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 75px;
    height: 300px;
    /* background-color: #666 */
}
.divone-left {
    position: absolute;
    left: 155px;
    width: 700px;
    height: 700px;
    /* background-color: rgb(11, 7, 119) */
}
.divone-left h2 {
    font-size: 3.1em;
    font-family: "Josefin Sans", sans-serif;
    color: #290066;
}
.divone-left h1 {
    font-size: 4.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #6600cc;
    font-weight: bold;
}
.divone-left a {
    font-size: 20px;
    line-height: 20px;
    color: purple;
    text-decoration: none;
    border-bottom: 2px solid purple;
    position: relative;
}
.divone-left a:hover {
    color: orange;
}
.divone-left a:hover:after {
    width: 100%;
}
.divone-left a:after {
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    content: "";
    position: absolute;
    background: orange;
    transition: ease-in-out 0.3s;
}
.divone-right {
    position: absolute;
    left: 855px;
    width: 650px;
    height: 700px;
    /* cursor: none;  */
    /* background-color: rgb(84, 4, 90) */
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
}
.social-icons li:hover {
    transform: scale(1.2);
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #048af1;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin: 18px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.github:hover {
    background-color: #010102;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

.float {
    position: relative;
    -webkit-animation: floatBubble 2s infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes floatBubble {
    from {
        left: 0;
        -webkit-animation-timing-function: ease;
    }

    to {
        left: 20px;
        -webkit-animation-timing-function: ease;
    }
}
.cup {
    background: #feffff;
    width: 190px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50px;
    opacity: 0.8;
    border-radius: 17px;
}
.cup img {
    margin: 15px;
}
.cup:hover figure {
    transform: translateY(-8px);
}
.cup-title p {
    line-height: 28px;
}
.admin {
    background: #feffff;
    padding: 25px;
    position: absolute;
    top: 20%;
    right: -10px;
    opacity: 0.8;
    border-radius: 17px;
}
.admin:hover figure {
    transform: translateY(-8px);
}
.admin-title p {
    line-height: 28px;
}

.hcfloat {
    position: relative;
    -webkit-animation: float 2s infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes float {
    from {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    to {
        top: 30px;
        -webkit-animation-timing-function: ease-out;
    }
}
.hc1 {
    position: absolute;
    top: -700px;
    right: 60px;
}
.tri1 {
    position: absolute;
    top: -480px;
    left: 60px;
}
/* Cursor CSS */
.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: var(--cursor-size);
    height: var(--cursor-size);
    pointer-events: none;
}

.cursor {
    font-family: sans-serif;
    font-weight: bold;
}
.cursor .cursor--small {
    --cursor-size: 20px;
    background: rgb(247, 144, 0);
    transition: all 200ms ease-out;
}
.cursor .cursor--large {
    --cursor-size: 40px;
    border: 2px solid rgb(40, 0, 120);
    transition: all 200ms ease-out;
}
/* div2 */
.divtwo {
    position: absolute;
    top: 720px;
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
}
.exp {
    margin: auto;
    padding: 25px;
    width: 90%;
    height: 600px;
    /* background-color: rgb(71, 13, 122); */
}

.service-box-item {
    background: #fff;
    border: 1px solid transparent;
    padding: 40px 36px;
    border-radius: 20px;
    box-shadow: 0 0 85px 0 #c4d0f2;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.service-box-item:hover {
    border: 2px solid;
    border-color: #2b003b;
}
.service-box-item h4 {
    font-size: 1.8em;
    font-family: "Josefin Sans", sans-serif;
    color: #2c0764;
}
.service-box-item:hover h4 {
    color: #600dae;
}

.service-box-item figure {
    width: 130px;
    height: 130px;
    display: flex;
    background: orange;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service-box-item figure img {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.service-box-item:hover figure img {
    transform: translateY(-8px);
}
.service-box-item-content {
    margin-left: 156px;
}
.service-box-item-content h4 {
    font-weight: 700;
}

.service-box-item-content p {
    font-size: 18px;
    font-family: "Lato", sans-serif;
}
.service-box-item-content a {
    font-size: 18px;
    color: orange;
    padding-bottom: 5px;
    position: relative;
}
.service-box-item-content a:hover {
    color: #7108a1;
}
.service-box-item-content a::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: "";
    position: absolute;
    transition: ease-in-out 0.3s;
    background: #7108a1;
}
.service-box-item-content a:hover::after {
    width: 100%;
}
.service-box-item a {
    text-decoration: none;
}
.service-box .row:first-child {
    margin-bottom: 30px;
}
.service-box .row:last-child {
    margin-bottom: 40px;
}
.service-box-item a {
    text-decoration: none;
}
.hvr-rotate {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-rotate:hover {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.hc2 {
    position: absolute;
    top: -740px;
    left: -120px;
}
.tri2 {
    position: absolute;
    top: -300px;
    right: -120px;
}
.bigc2 {
    position: absolute;
    top: -650px;
    left: -500px;
}

.divthree {
    position: absolute;
    top: 1700px;
    width: 100%;
    height: 700px;
    background-color: rgb(227, 242, 248);
}
.divthree-right {
    position: absolute;
    left: 855px;
    width: 650px;
    height: 450px;
    /* background-color: rgb(84, 4, 90); */
}
.divthree-left {
    position: absolute;
    left: 155px;
    width: 700px;
    height: 450px;
    /* background-color: rgb(11, 7, 119); */
}
.divthree-right p {
    width: 470px;
    text-align: left;
    font-size: 18px;
    font-family: "Lato", sans-serif;
}
.leftcard {
    width: 230px;
    height: 220px;
    margin-left: 80px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 25px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
}
.leftcard:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px #4195fc;
}
.rightcard {
    width: 230px;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 25px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
}
.rightcard:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px #4195fc;
}
.ring {
    margin: auto;
    margin-top: 15px;
    width: 120px;
    height: 120px;
    border: 4px solid rgb(220, 207, 207);
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
    border-right: 4px solid orange;
    border-radius: 50%;
}
.single-chart {
    width: 150px;
    margin: auto;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.5;
}

.circle {
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    animation: progress 3s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.purple .circle {
    stroke: purple;
}
.circular-chart.dark .circle {
    stroke: rgb(38, 14, 145);
}
.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.percentageO {
    fill: orange;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    text-anchor: middle;
}
.percentageB {
    fill: #3c9ee5;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    text-anchor: middle;
}
.percentageP {
    fill: purple;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    text-anchor: middle;
}
.percentageD {
    fill: rgb(38, 14, 145);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    text-anchor: middle;
}

.hc3 {
    position: absolute;
    top: -450px;
    right: 80px;
}
.tri3 {
    position: absolute;
    top: -180px;
    left: -120px;
}
.bigc3 {
    position: absolute;
    top: -350px;
    left: 420px;
}
.divfour {
    position: absolute;
    top: 2400px;
    width: 100%;
    height: 550px;
    background-color: rgb(99, 59, 207);
}
.divfour::before {
    background: url(../images/pl.png) no-repeat top left;
    top: 0;
    left: 0;
    content: "";
    width: 352px;
    height: 344px;
    position: absolute;
}
.divfour:after {
    bottom: 0;
    right: 0;
    content: "";
    width: 361px;
    height: 292px;
    position: absolute;
    background: url(../images/pr.png) no-repeat top right;
}
#divfournav {
    margin-bottom: 45px;
}
#divfournav button {
    border: none;
    color: white;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin: 0 25px;
}
#divfournav button:hover {
    color: orange;
}
#divfournav button.current {
    border-bottom: 4px solid orange;
    color: orange;
}
.divfour1 {
    position: absolute;
    top: 2700px;
    width: 100%;
    height: 700px;
    /* background-color: rgb(81, 207, 59); */
}
.divfour2 {
    position: absolute;
    top: 3400px;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
}
.divfour2left {
    position: absolute;
    left: 155px;
    width: 700px;
    height: 550px;
    margin: 25px 25px 25px 0px;
    /* background-color: rgb(11, 7, 119); */
}
.divfour2left img {
    margin: 50px 50px 50px 80px;
    transition: all 0.3s ease-in-out;
}
.divfour2left img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.divfour2right {
    position: absolute;
    left: 855px;
    width: 650px;
    height: 550px;
    margin: 50px;
    margin: 25px 0px 25px -100px;
    /* background-color: rgb(202, 59, 212); */
}
.divfour2rightbottom {
    position: absolute;
    left: 380px;
    bottom: 0;
}
.divfour2rightbtnleft {
    background: orange;
    color: white;
    margin-left: -440px;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ff8400;
    transition: all 0.3s ease-in-out;
}
.divfour2rightbtnleft:hover {
    background: purple;
    transform: translateX(-8px);
    transition: all 0.3s ease-in-out;
    border: none;
}
.divfour2rightbtnright {
    background: orange;
    color: white;
    margin-left: 10px;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ff8400;
    transition: all 0.3s ease-in-out;
}
.divfour2rightbtnright:hover {
    background: purple;
    transform: translateX(8px);
    transition: all 0.3s ease-in-out;
    border: none;
}
.hc42l {
    position: absolute;
    top: -530px;
    right: 650px;
}
.bigc42l {
    position: absolute;
    top: -500px;
    right: 580px;
}
.divfive {
    position: absolute;
    top: 4000px;
    width: 100%;
    height: 850px;
    background-color: rgb(231, 237, 213);
    padding-left: 150px;
}
.blog-box-item:hover .blog-img img {
    transition: ease-in-out 0.5s;
}
.blog-box-item {
    overflow: hidden;
}
.blog-box-item:hover .blog-img img {
    transform: scale(1.1);
}
.blog-box-item {
    background: white;
    border-radius: 20px;
    width: 350px;
}
.blog-content {
    padding: 27px 27px 30px;
}
.blog-content h4 {
    font-size: 1.3em;
    font-family: "Josefin Sans", sans-serif;
    color: #0f1c6c;
    text-align: left;
    font-weight: bold;
    margin-bottom: 11px;
}
.blog-content h4:hover {
    font-weight: 700;
    color: orange;
    margin-bottom: 11px;
}
.blog-content p {
    font-size: 18px;
    color: gray;
    line-height: 28px;
    margin-bottom: 12px;
    font-family: "Lato", sans-serif;
}
.blog-content a {
    color: orange;
    /* border-bottom: 2px solid var(--accent); */
    font-size: 18px;
    padding-bottom: 6px;
    text-decoration: none;
    position: relative;
}
.blog-content a:hover {
    color: rgb(141, 56, 141);
    /* border-color: var(--light-purple-color); */
}
.blog-content a:hover::after {
    width: 100%;
}
.blog-content a::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: "";
    position: absolute;
    background: rgb(141, 56, 141);
    transition: ease-in-out 0.3s;
}
.hc5 {
    position: absolute;
    top: -700px;
    right: 80px;
}
.tri5 {
    position: absolute;
    top: -180px;
    left: -120px;
}
.bigc5 {
    position: absolute;
    top: -580px;
    left: 1120px;
}
.divsix {
    position: absolute;
    top: 4850px;
    width: 100%;
    height: 850px;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
}
.contact-form input,
.contact-form textarea {
    background: #e9e9f0;
    border: none;
    box-shadow: 0 0 85px 0 #e9eefc;
    font-size: 16px;
    color: gray;
    padding: 17px 30px;
    border-radius: 30px;
    width: 100%;
    font-family: "Lato", sans-serif;
    margin-bottom: 23px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: gray;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}
.contact-form input:focus,
.contact-form textarea:focus {
    outline: 1px solid #6f34fe;
    box-shadow: 0 0 85px 0 #a9aebb;
}
.contact-form textarea {
    height: 148px;
    resize: none;
    margin-bottom: 29px;
}

.contact-information {
    background: rgb(89, 76, 191);
    border-radius: 28px;
    padding: 70px 40px 50px;
}
.contact-information li figure {
    width: 60px;
    height: 60px;
    background: orange;
    border-radius: 50%;
    position: absolute;
}
.contact-information-content {
    margin-left: 76px;
}
.contact-information-content h5 {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 4px;
}
.contact-information-content p {
    font-size: 16px;
    line-height: 22px;
    color: white;
    font-family: "Lato", sans-serif;
}
.contact-information ul li {
    margin-bottom: 32px;
}
.contact-information ul li img {
    padding-left: 4px;
    padding-top: 2px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.contact-information ul li:hover img {
    transform: translateY(-8px);
}
.divfooter {
    position: absolute;
    top: 5700px;
    width: 100%;
    height: 370px;
    background-color: rgb(40, 32, 65);
    padding-left: 150px;
    padding-right: 150px;
}
.divfooter::before {
    background: url(../images/pl.png) no-repeat top left;
    top: 0;
    left: 0;
    content: "";
    width: 352px;
    height: 350px;
    position: absolute;
}
.divfooter:after {
    bottom: 0;
    right: 0;
    content: "";
    width: 361px;
    height: 292px;
    position: absolute;
    background: url(../images/pr.png) no-repeat top right;
}
.divfooter ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.divfooter a {
    color: #dfcbcb;
    font-size: 1.1em;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}
.divfooter a:hover {
    color: #ff6600;
}

.divfooter a::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: "";
    position: absolute;
    transition: ease-in-out 0.3s;
    background: orange;
}
.divfooter a:hover::after {
    width: 100%;
}
.divfooter a {
    text-decoration: none;
}

.footer-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer-icons li {
    display: inline-block;
}
.footer-icons li:hover {
    transform: translateY(-8px);
    transition: all 0.3s ease-in-out;
}
.footer-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.footer-icons a {
    background-color: #eceeef;
    color: #048af1;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin: 18px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.footer-icons a:active,
.footer-icons a:focus,
.footer-icons a:hover {
    color: #fff;
    background-color: #29aafe;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.footer-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.footer-icons a.facebook:hover {
    background-color: #3b5998;
}
.footer-icons a.linkedin:hover {
    background-color: #007bb6;
}
.footer-icons a.github:hover {
    background-color: #010102;
}

@media (max-width: 767px) {
    .footer-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
.divfour1left {
    position: absolute;
    left: 200px;
    width: 700px;
    height: 550px;
    margin: 25px 25px 25px 0px;
    /* background-color: rgb(11, 7, 119); */
}

.divfour1right {
    position: absolute;
    left: 905px;
    width: 650px;
    height: 550px;

    /* background-color: rgb(202, 59, 212); */
}
.pleftcard {
    width: 700px;
    height: 300px;
    text-align: left;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 25px;
    padding-top: 2px;
    background: url(../images/p1.png);
}
.pleftcard button {
    background: orange;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #ff8400;
    display: none;
}
.pleftcard h3 {
    font-size: 1.3em;
    font-family: "Josefin Sans", sans-serif;
    color: #f2edfa;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    display: none;
}

.pleftcard p {
    color: #f2edfa;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    display: none;
}
.pleftcard:hover {
    background: url(../images/p1.png);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.pleftcard:hover h3 {
    display: block;
}
.pleftcard:hover p {
    display: block;
}
.pleftcard:hover button {
    display: block;
}
.pleftcardb1 {
    width: 320px;
    height: 300px;
    float: left;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 25px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
}
.pleftcardb1 button {
    background: orange;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #ff8400;
    display: none;
}
.pleftcardb1 h3 {
    font-size: 1.3em;
    font-family: "Josefin Sans", sans-serif;
    color: #f2edfa;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    display: none;
}

.pleftcardb1 p {
    color: #f2edfa;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    display: none;
}
.pleftcardb1:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.pleftcardb1:hover h3 {
    display: block;
}
.pleftcardb1:hover p {
    display: block;
}
.pleftcardb1:hover button {
    display: block;
}
.pleftcardb2 {
    width: 320px;
    height: 300px;
    float: right;
    margin-bottom: 30px;
    margin-left: 10px;
    background-color: white;
    border-radius: 25px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
}
.prightcard {
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 30px;

    background-color: white;
    border-radius: 25px;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
}
.prightcard button {
    background: orange;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #ff8400;
    display: none;
}
.prightcard h3 {
    font-size: 1.3em;
    font-family: "Josefin Sans", sans-serif;
    color: #f2edfa;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    display: none;
}

.prightcard p {
    color: #f2edfa;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    display: none;
}
.prightcard:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.prightcard:hover h3 {
    display: block;
}
.prightcard:hover p {
    display: block;
}
.prightcard:hover button {
    display: block;
}

.upbtn {
    background: orange;
    color: white;
    float: right;
    bottom: 50px;
    right: 100px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid #ff8400;
    position: fixed;
    -webkit-animation: spineer 2s infinite;
    animation: spineer 2s infinite;
}
@-webkit-keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgba(255, 161, 34, 0.99);
    }
    to {
        box-shadow: 0 0 0 45px rgba(255, 161, 34, 0.01);
    }
}

@keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgba(255, 161, 34, 0.99);
    }
    to {
        box-shadow: 0 0 0 45px rgba(255, 161, 34, 0.01);
    }
}

/* modals */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */

.modal-body {
    padding: 2px 16px;
}

.modal-close {
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    background: orange;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 1.4em;
    padding-top: 6px;
    margin-left: 620px;
    margin-top: -40px;
}

.modal-close:hover,
.modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    position: absolute;
    width: 650px;
    height: 550px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.carousel .sliders {
    width: 100%;
    height: 100%;
}

.carousel .slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .sliders .slide {
    display: none;
}

.carousel .sliders .slide.active {
    width: 100%;
    height: 100%;
    display: block;
    animation: slider-animation 0.5s ease-in;
}

@keyframes slider-animation {
    from {
        transform: translateX(100%);
        visibility: visible;
    }

    to {
        transform: translateX(0);
    }
}
/* from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  } */
